/* formatação css */

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Source Sans Pro', sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
}


/* css navbar */
.navbar-color{
	background-color: rgba(0, 0, 0, 0.192) !important;
	width: 100%;
	
}

.link-navbar{
    padding-left: 10px;
    padding-right: 10px;
    margin:2px 0px;
	border-left: solid white 1px;
}

.text-link-navbar{
	color: white !important;
}




/* fim css navbar */


/* css area da seçoesl */

.fundo-secao1{
	background-image: url(../img/museu.jpg);
	
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	
}

.btn-secao-posicao{
	height: 100px;
	width: 100px;
	padding-left:50px ;

}

.btn-secao-posicao button{
	background-color: #fffa00;
	padding: 18px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
}

.btn-secao-posicao button i{
	color: #fff;
	font-size: 18px;
	
}


.titulo{
    font-size: 45px;
    color: white;
	padding-bottom:10px;
	padding-left:50px ;
	padding-top: 68vh;
}

/* controla botao que move ate o topo */

.ir-para-topo{
	text-align: right;
	position:fixed;
	right: 30px;
	bottom: -22px;
	height: 100px;
	width: 100px;
}

.ir-para-topo a{
	background-color: #fffa00;
	padding: 18px;
	border-radius: 80%;
	-webkit-border-radius:80%;
	-moz-border-radius:80%;
	-ms-border-radius:80%;
	-o-border-radius:80%;
}

.ir-para-topo a i {
	color: #fff;
	font-size: 25px;
}

/* Css Footer */

body{
	font-family: 'Source Sans Pro', sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
}
p{
	font-size: 18px;
}
footer{
	background-color: #000;
	color: #fff;
}
.footer-left-col{
	text-align: left;
	float: left;
	padding: 15px;
}
.footer-right-col{
	text-align: center;
	padding: 15px;
	
}